# Exclude all checkpoint files
outputs/**/*.pth
outputs/cnn_classfier/best_resnet18_cbam_model.pth
outputs/checkpoints/*_best.pth
src/imported/classifier_weights/*.pth
# But keep the best model

# Exclude visualize images
outputs/**/*.png
outputs/**/*.jpg
# Exclude logs
outputs/**/*.log
# Exclude tensorboard files
outputs/**/events.out.tfevents.*
outputs/**/training_log.csv
outputs/**/attr_stats*.json
dataset_print.py
find_image.py

#Exclude checpoints_production folder
outputs/checkpoints_production/*
outputs/checkpoints_production/logs/training_log.txt
outputs/checkpoints_production/metrics_and_visualisations/metrics_history.csv
#Exclude all script in the .gitignore current folder
*.py
!gui_counterfactual.py
*.png
test.ipynb
running_script copy.ipynb
classifier_resnet18_cbam.ipynb

Dataset/*

# exclude all .pyc files
**/*.pyc

outputs/**/*.txt

# exclude all .log files
**/*.log

# exclude all files in the outputs folder
competitor_models/**/*
outputs/**/*