# Exclude all checkpoint files
outputs/**/*.pth
# But keep the best model

# Exclude all files from folder output
outputs/

# Exclude visualize images
outputs/**/*.png
outputs/**/*.jpg
# Exclude logs
outputs/**/*.log
# Exclude tensorboard files
outputs/**/events.out.tfevents.*
outputs/**/training_log.csv
outputs/**/attr_stats*.json

# Exclude dataset files
Dataset/**/*.png
Dataset/**/*.jpg
Dataset/*


# Exclude environment files
cegan.venv/*